@model QuizNet.DataAccess.Models.Question
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<form method="post" asp-controller="Question" asp-action="Update">
    Question #@Model.Id text:
    <input class="form-control" asp-for="Text" value="@Model.Text" />

    Answer 1# <input class="form-control" asp-for="Answers[0].Text" value="@Model.Answers[0].Text" />
    Answer 2# <input class="form-control" asp-for="Answers[1].Text" value="@Model.Answers[1].Text" />
    Answer 3# <input class="form-control" asp-for="Answers[2].Text" value="@Model.Answers[2].Text" />
    Answer 4# <input class="form-control" asp-for="Answers[3].Text" value="@Model.Answers[3].Text" />

    <div class="form-check">
        @if (Model.CorrectAnswerIndex != 0)
        {
            <input class="form-check-input" type="radio" value="0" asp-for="CorrectAnswerIndex" id="option1" />
        }
        else
        {
            <input class="form-check-input" type="radio" value="0" asp-for="CorrectAnswerIndex" id="option1" checked />
        }
        <label class="form-check-label" for="option1">
            Pierwsza odpowiedz jest prawidłowa
        </label>
    </div>
    <div class="form-check">
        @if (Model.CorrectAnswerIndex != 1)
        {
            <input class="form-check-input" type="radio" value="1" asp-for="CorrectAnswerIndex" id="option2" />
        }
        else
        {
            <input class="form-check-input" type="radio" value="1" asp-for="CorrectAnswerIndex" id="option2" checked />

        }
        <label class="form-check-label" for="option2">
            Druga odpowiedz jest prawidłowa
        </label>
    </div>
    <div class="form-check">
        @if (Model.CorrectAnswerIndex != 2)
        {
            <input class="form-check-input" type="radio" value="2" asp-for="CorrectAnswerIndex" id="option3" />
        }
        else
        {
            <input class="form-check-input" type="radio" value="2" asp-for="CorrectAnswerIndex" id="option3" checked />
        }
        <label class="form-check-label" for="option3">
            Trzecia odpowiedz jest prawidłowa
        </label>
    </div>
    <div class="form-check">
        @if (Model.CorrectAnswerIndex != 3)
        {
            <input class="form-check-input" type="radio" value="3" asp-for="CorrectAnswerIndex" id="option4" />
        }
        else
        {
            <input class="form-check-input" type="radio" value="3" asp-for="CorrectAnswerIndex" id="option4" checked" />
        }
        <label class="form-check-label" for="option4">
            Czwarta odpowiedz jest prawidłowa
        </label>
    </div>

    <button class="btn btn-primary" type="submit">Update!</button>
</form>

